<div class="post-recent">
    <div class="pre">
        {% assign previous_in_category = site.posts | where: "categories", page.categories | last | previous: page %}
        {% if previous_in_category %}
        <p><strong>Prev</strong> <a href="{{ previous_in_category.url | prepend: site.baseurl }}">{{
                previous_in_category.title }}</a>
        </p>
        {% endif %}
    </div>
    <div class="nex">
        {% assign next_in_category = site.posts | where: "categories", page.categories | last | next: page %}
        {% if next_in_category %}
        <p><strong>Next</strong> <a href="{{ next_in_category.url | prepend: site.baseurl }}">{{ next_in_category.title
                }}</a></p>
        {% endif %}
    </div>
</div>